########################################################
### EasyWG Configuration
### Uncomment and add desired value if you want
### to override automatic detection/generation of values
#

## Server WAN IP for WG. If the address is not set here,
## it will be detected automatically using ifconfig.co.
## Automatic detection only works for IPv4 for now.
#SERVER_IP=''

## Specify an MTU value to use other than the default
## (1500)
#MTU=1420

## Nameserver addresses. If not specified, the DNS line
## will not be added to client config.
#DNS='10.0.0.1,fd00::1'

## If you wish to manually set the new client's IP 
## addresses, you can define them here. Otherwise a 
## random address based on the subnet defined in the 
## server configuration and the value of LAST_CLIENT_ADDR 
## if set.
#CLIENT_IP4='10.0.0.2'
#CLIENT_IP6='fd00::2'

## If a client with matching address already exists, it will be overwritten!


## Directory to store configuration files
## (only for archiving/backup purposes)
#CLIENT_CONF_DIR=/etc/wireguard/clients

## If you wish to limit the client address range to 
## other than the whole subnet, specify the last client
## address here.
#LAST_CLIENT_ADDR='10.0.0.10'
